# AGENDA
1. Variable Case senstivity [clear]
2. Reserved words in Python [clear]
3. Multi assignment of variables [clear]
4. User input [clear]
5. type casting | type conversion [Doubt at the end]
6. Memory block []
7. Operators
  - Logical
  - Equality
  - Comparision
  - Arthimatic
  - Bitwise [Advance classes]
  - Operators for sets and dictionary [Advance classes]

8. String methods

## Variable Case senstivity

In [ ]:
TEN = 10
ten = 20
# TEN and ten both are different in terms of lowercase and uppercase letter

In [ ]:
print(Ten)

NameError: ignored

In [ ]:
TEN

10

## Reserved words in Python

https://docs.python.org/2.5/ref/keywords.html

1. We should not use reserved words as variable names
2. Also python doesn't restrict the user to use reserved keywords as variable names

In [ ]:
print("Hi there")

Hi there

In [ ]:
print = "Hi there" # as a variable
type(print)

str

In [ ]:
del print # used to delete the variable print as print word is reserved in python and it would be applied once

In [ ]:
print("Hi there")

Hi there

In [ ]:
Print = "Hi there" # as a variable
type(Print)

str

In [ ]:
print("Hi there")

Hi there

In [ ]:
print = 12 # as a variable
type(print)

int

In [ ]:
print("Hi there")

TypeError: ignored

In [ ]:
del print

# Multi assignment Variables

In [ ]:
a ,b ,c , yes = 10 , 20, "Rajat", True

In [ ]:
c= 'rahul'

In [ ]:
c

'rahul'

In [ ]:
type(a)

int

In [ ]:
print(type(b))

<class 'int'>

int

In [ ]:
print(type(c))

<class 'str'>

In [ ]:
print(type(yes))

<class 'bool'>

In [ ]:
print(type(a,b,c,yes))

TypeError: ignored

In [ ]:
print(type(a,b,c))

TypeError: ignored

In [ ]:
print(type(a,c))

TypeError: ignored

In [ ]:
a,b,c = 10

TypeError: ignored

In [ ]:
type(a)
type(b)
type(c)
type(yes)

bool

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(yes))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'bool'>

In [ ]:
a, A, c, C= 10, 20.2, "Rajat", True

In [ ]:
print(a,A,c,C)

10 20.2 Rajat True

In [ ]:
a=b=c= 10

In [ ]:
print(a,b,c)

10 10 10

In [ ]:
a,b,c

(10, 10, 10)

In [ ]:
firstName, middleName, sirName = "Sunny", "Bhaveen", "Chandra"

In [ ]:
name, place, year_of_birth, weight = "RAJAT", "cuttack", 1998, 80.5

In [ ]:
print(name, place, year_of_birth, weight)

RAJAT cuttack 1998 80.5

In [ ]:
print(f"""
My Name is : {name}
I live at : {place}
Year of Birth : {year_of_birth}
My weight is : {weight}""")

My Name is : RAJAT
I live at : cuttack
Date of Birth : 1998
My weight is : 80.5

In [ ]:
name = input("Name: ")
place= input("Place: ")
year_of_birth = input("YOB: ")
weight= input("weight: ")

Name: RAJAT
Place: CUTTACK
YOB: 1998
weight: 80.5

In [ ]:
name = input("Name: ")
place= input("Place: ")
year_of_birth = input("YOB: ")
weight= input("weight: ")

print(f"""
My Name is : {name}
I live at : {place}
Year of Birth : {year_of_birth}
My weight is : {weight}""")

Name: RAJAT
Place: CUTTACK
YOB: 1998
weight: 80.8

My Name is : RAJAT
I live at : CUTTACK
Year of Birth : 1998
My weight is : 80.8

In [ ]:
# Calculate the age of the user

name = input("Name: ") # Always gives you string value
place= input("Place: ")
year_of_birth = input("YOB: ")
weight= input("weight: ")

current_year=input("Current year: ")
age=(current_year-year_of_birth)

print(f"""
My Name is : {name}
I live at : {place}
Year of Birth : {year_of_birth}
My weight is : {weight}
{name} is of age {age}""")

Name: RAJAT
Place: CUTTACK
YOB: 1998
weight: 80
Current year: 2022

TypeError: ignored

In [ ]:
# Calculate the age of the user

name = input("Name: ") # Always gives you string value
place= input("Place: ")
year_of_birth = int(input("YOB: ")) #Convert this to integer
weight= input("weight: ")

current_year=int(input("Current year: ")) #Convert this to integer
age=(current_year-year_of_birth)

print(f"""
My Name is : {name}
I live at : {place}
Year of Birth : {year_of_birth}
My weight is : {weight}
{name} is of age {age}""")

Name: RAJAT
Place: CUTTACK
YOB: 1998
weight: 80
Current year: 2022

My Name is : RAJAT
I live at : CUTTACK
Year of Birth : 1998
My weight is : 80
RAJAT is of age 24

In [ ]:
# Calculate the age of the user

name = input("Name: ") # Always gives you string value
place= input("Place: ")
year_of_birth = input("YOB: ") 
weight= input("weight: ")

current_year=2022
age=current_year-int(year_of_birth) #Convert this to integer

print(f"""
My Name is : {name}
I live at : {place}
Year of Birth : {year_of_birth}
My weight is : {weight}
{name} is of age {age}""")

Name: RAJAT
Place: CUTTACK
YOB: 1998
weight: 80

My Name is : RAJAT
I live at : CUTTACK
Year of Birth : 1998
My weight is : 80
RAJAT is of age 24

# NOTE: Before can i use? Please try in colab or jupyter notebook once

User Input

In [ ]:
name = input("Enter you Name : ")

print(f"You have entered: {name}")

Enter you Name : Rajat
You have entered: Rajat

In [ ]:
A= input("Enter the value of A: ")
B= input("Enter the value of B: ")

print(f"Sume of A and B is : {A+B}")

Enter the value of A: 12
Enter the value of B: 10
Sume of A and B is : 1210

In [ ]:
print("Sume of A and B is : {A+B}")

Sume of A and B is : {A+B}

## Type conversion

We can convert the data type of one variable into another if it is allowed

In [ ]:
A= input("Enter the value of A: ")
B= input("Enter the value of B: ")

print(type(A) , type(B))

Enter the value of A: 12
Enter the value of B: 10
<class 'str'> <class 'str'>

In [ ]:
A= int(input("Enter the value of A: "))
B= int(input("Enter the value of B: "))

print(type(A) , type(B))

Enter the value of A: 12
Enter the value of B: 10
<class 'int'> <class 'int'>

In [ ]:
A= int(input("Enter the value of A: "))
B= int(input("Enter the value of B: "))

print(f"Sume of A and B is : {A+B}")

Enter the value of A: 12
Enter the value of B: 10
Sume of A and B is : 22

In [ ]:
print(f"Sume of A and B is : {A+B}")

Sume of A and B is : 22

In [ ]:
A= int(input("Enter the value of A: "))
B= int(input("Enter the value of B: "))

print(f"Sume of A and B is : {A+B}")

Enter the value of A: 12.2

ValueError: ignored

In [ ]:
A= float(input("Enter the value of A: "))
B= float(input("Enter the value of B: "))

print(f"Sume of A and B is : {A+B}")

Enter the value of A: 12.2
Enter the value of B: 20.2
Sume of A and B is : 32.4

In [ ]:
A= float(input("Enter the value of A: "))
B= int(input("Enter the value of B: "))

print(f"Sume of A and B is : {A+B}")

Enter the value of A: 12.2
Enter the value of B: 20
Sume of A and B is : 32.2

In [ ]:
A= float(input("Enter the value of A: "))
B= int(input("Enter the value of B: ")) # 10.2 is float but converting to Integer which is not possible

print(f"Sume of A and B is : {A+B}")

Enter the value of A: 20.2
Enter the value of B: 10.2

ValueError: ignored

In [ ]:
# STring to Integer
A="50"
print(f"Data type before : {type(A)}")
A=int(A)
print(f"Data type after : {type(A)}")

Data type before : <class 'str'>
Data type after : <class 'int'>

In [ ]:
# STring to Integer
A="50.22" # Entering Floating Value
print(f"Data type before : {type(A)}")
A=int(A) # Trying to convert into Integer
print(f"Data type after : {type(A)}")

Data type before : <class 'str'>

ValueError: ignored

In [ ]:
# Float to Integer
A= 50.22
print(f"Data type before : {type(A)}")
A=int(A)
print(f"Data type after : {type(A)}")
print(A)

Data type before : <class 'float'>
Data type after : <class 'int'>
50

In [ ]:
# Float to Integer
A= 50.22
print(f"Data type before : {type(A)}, value of A : {A}")
A=int(A)
print(f"Data type after : {type(A)}, value of A: {A}")

Data type before : <class 'float'>, value of A : 50.22
Data type after : <class 'int'>, value of A: 50

In [ ]:
# Integer to Float
A= 50
print(f"Data type before : {type(A)}")
A=float(A)
print(f"Data type after : {type(A)}")
print(A)

Data type before : <class 'int'>
Data type after : <class 'float'>
50.0

In [ ]:
# Float to Integer
A= 50
print(f"Data type before : {type(A)}, value of A : {A}")
A=float(A)
print(f"Data type after : {type(A)}, value of A: {A}")

Data type before : <class 'int'>, value of A : 50
Data type after : <class 'float'>, value of A: 50.0

* True in binary - 1 
* False in binary - 0

In [ ]:
# Integer to Boolean
A= 10
print(f"Data type before : {type(A)}, value of A : {A}")
A=bool(A)
print(f"Data type after : {type(A)}, value of A: {A}")

Data type before : <class 'int'>, value of A : 10
Data type after : <class 'bool'>, value of A: True

In [ ]:
# Integer to Boolean
A= 0
print(f"Data type before : {type(A)}, value of A : {A}")
A=bool(A)
print(f"Data type after : {type(A)}, value of A: {A}")

Data type before : <class 'int'>, value of A : 0
Data type after : <class 'bool'>, value of A: False

In [ ]:
# Integer to Boolean
A= 1
print(f"Data type before : {type(A)}, value of A : {A}")
A=bool(A)
print(f"Data type after : {type(A)}, value of A: {A}")

Data type before : <class 'int'>, value of A : 1
Data type after : <class 'bool'>, value of A: True

> NOTE: Converting any non zero number and string values into boolean will give True as an answer

> NOTE: Empty string "" will give False as an answer after converting from string to boolean

In [ ]:
# Integer to Boolean
A= -5
print(f"Data type before : {type(A)}, value of A : {A}")
A=bool(A)
print(f"Data type after : {type(A)}, value of A: {A}")

Data type before : <class 'int'>, value of A : -5
Data type after : <class 'bool'>, value of A: True

In [ ]:
# String to Boolean
A= "10"
print(f"Data type before : {type(A)}, value of A : {A}")
A=bool(A)
print(f"Data type after : {type(A)}, value of A: {A}")

Data type before : <class 'str'>, value of A : 10
Data type after : <class 'bool'>, value of A: True

In [ ]:
# String to Boolean
A= "True"
print(f"Data type before : {type(A)}, value of A : {A}")
A=bool(A)
print(f"Data type after : {type(A)}, value of A: {A}")

Data type before : <class 'str'>, value of A : True
Data type after : <class 'bool'>, value of A: True

In [ ]:
# String to Boolean
A= "False"
print(f"Data type before : {type(A)}, value of A : {A}")
A=bool(A)
print(f"Data type after : {type(A)}, value of A: {A}")

Data type before : <class 'str'>, value of A : False
Data type after : <class 'bool'>, value of A: True

In [ ]:
# Empty String to Boolean
A= ""
print(f"Data type before : {type(A)}, value of A : {A}")
A=bool(A)
print(f"Data type after : {type(A)}, value of A: {A}")

Data type before : <class 'str'>, value of A :
Data type after : <class 'bool'>, value of A: False

In [ ]:
# " " String to Boolean
A= " "
print(f"Data type before : {type(A)}, value of A : {A}")
A=bool(A)
print(f"Data type after : {type(A)}, value of A: {A}")

Data type before : <class 'str'>, value of A :
Data type after : <class 'bool'>, value of A: True

In [ ]:
# String to Boolean
A= ""
print(f"Data type before : {type(A)}, value of A : {A}")
A=int(A)
print(f"Data type after : {type(A)}, value of A: {A}")

Data type before : <class 'str'>, value of A :

ValueError: ignored

## Memory block
memory is assigned to the value of the variable passed not variable name

In [ ]:
a= 22
b=56
c=22

In [ ]:
id(a) # memory address of a

11123264

In [ ]:
id(b)

11124352

In [ ]:
id(c)

11123264

In [ ]:
c=22+b

In [ ]:
id(c)

11125056

In [ ]:
a=22
id(a)

11123264

In [ ]:
a=99
id(a)

11125728

In [ ]:
a=22
b=56
c=22

print(id(a),id(b),id(c))

11123264 11124352 11123264

In [ ]:
a="RAJAT"
b=56
c="RAJAT"

print(id(a),id(b),id(c))

139967179746288 11124352 139967179746288

In [ ]:
a,b,c= 22,56,22

print(id(a),(b),(c))

11123264 56 22

In [ ]:
a="R"
b=56
c="R"

print(id(a),id(b),id(c))

139967720273456 11124352 139967720273456

In [ ]:
a=22
b=56
c=22.0

print(id(a),id(b),id(c))

11123264 11124352 139967385854256