In [ ]:
print("Hello Neurons")

Hello Neurons

In [ ]:
print("Greetings from iNeurons")
print("Good Evening")

Greetings from iNeurons
Good Evening

In [ ]:
"Good Evening"
print("HI")

HI

In [ ]:
print("""Good
Evening""")

Good
Evening

In [ ]:
print("""India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[25] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi.""")

India, officially the Republic of India (Hindi: Bhārat Gaṇarājya),[25] is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[f] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia. The nation's capital city is New Delhi.

In [ ]:
print("""Good
Morning
From
India""")

Good
Morning
From
India

#**COMMENTS**

In [ ]:
#Say Hello to the students

#print("Hello Students")

##Multi Line Comments

In [ ]:
"""
Say Hello 
To the Students
"""
#or 

#Say Hello
#To the Students
print("Hello Students")

Hello Students

In [ ]:
# More Exceptional Cases in Print Statements

In [ ]:
print("My Name is "RAJAT" ")

SyntaxError: ignored

In [ ]:
print("My Name is \"RAJAT\" ")

My Name is "RAJAT"

In [ ]:
print('My Name is "RAJAT" ')

My Name is "RAJAT"

In [ ]:
print("My Name is 'RAJAT' ")

My Name is 'RAJAT'

In [ ]:
print("""My Name is "RAJAT" """)

My Name is "RAJAT"

### EXAMPLE [Shift+Enter]

##Header<--MarkDown

In [ ]:
123+345 #Sum of Two Numbers

468

In [ ]:
123*345

42435

In [ ]:
123/345

0.3565217391304348

In [ ]:
123**2 # Power of 123 raised to 2

15129

In [ ]:
(-123)**2

15129

In [ ]:
123%2 # modulo operator which gives you reminder

1

In [ ]:
2%2

0

In [ ]:
3%2

1

In [ ]:
122%2

0

In [ ]:
123+345
print("result")

result

In [ ]:
print(123+345)
print("result")

468
result

In [ ]:
print("123+345")
print("result")

123+345
result

# Variables In Python
## Variables In Python
### Variables In Python
#### Variables In Python
##### Variables In Python
###### Variables In Python
<h1> Variables In Python </h1>

In [ ]:
x=10

In [ ]:
print(x)

10

In [ ]:
y=20

In [ ]:
print(y)

20

In [ ]:
print(x+y)

30

In [ ]:
print(x/y)

0.5

1. Variable names should starts with alphabets

In [ ]:
ten=10
ten_number=10
tenNumber=10

2. Variable names should not contain any special characters like ^ % $ ! @ # ^ & * ( )

In [ ]:
ten* =10

SyntaxError: ignored

In [ ]:
ten%number =10

SyntaxError: ignored

In [ ]:
ten=10
ten_number=10
ten%number =10
tenNumber=10

SyntaxError: ignored

In [ ]:
ten=10
ten_number=10
ten/number =10
tenNumber=10

SyntaxError: ignored

3. Variable names contains Numbers but can't starts with numbers

In [ ]:
ten = 10

In [ ]:
ten10= 10

In [ ]:
10ten =10

SyntaxError: ignored

In [ ]:
_num =10 # Hidden Variable

In [ ]:
__num = 100 # Hidden Variable

4. It's not a strict rule that you can start the Variable with a capital letter but it's recommended to use small letters for Variables

In [ ]:
Ten= 10

In [ ]:
ten number= 10

SyntaxError: ignored

In [ ]:
ten_number= 10

In [ ]:
_ =10 # Dummy Variable

# Fundamental Data Types

## Integers

In [ ]:
a= 7

In [ ]:
type(a)

int

In [ ]:
b=77777
type(b)

int

## Floats- Numbers containing decimals

In [ ]:
pi= 22/7
#print(pi)
pi

3.142857142857143

In [ ]:
type(pi)

float

In [ ]:
pi= 3.14

In [ ]:
type(pi)

float

In [ ]:
x=2.0
type(x)

float

In [ ]:
y=2
type(y)

int

## Complex Numbers

In [ ]:
a= 2+3j
a

(2+3j)

In [ ]:
type(a)

complex

In [ ]:
a.real

2.0

In [ ]:
a.imag

3.0

## Dynamic Typing

```
int a =22; # in C Lang
```

In [ ]:
a= 22
print(type(a))
a= 22.2
print(type(a))
a="RAJAT"
print(type(a))
a="22.2" # string 
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
print(a)

22.2

## Strong Typing

In [ ]:
"Day " + 1

TypeError: ignored

In [ ]:
22.2 + 1

23.2

In [ ]:
"Day " + "1"

'Day 1'

In [ ]:
"22" + "22"

'2222'

In [ ]:
"22" + 22

TypeError: ignored

In [ ]:
22 + "22"

TypeError: ignored

In [ ]:
"22" + "22"

'2222'

In [ ]:
"RAJAT" + "BISOE"

'RAJATBISOE'

In [ ]:
"RAJAT" + " BISOE"

'RAJAT BISOE'

In [ ]:
a= 1 # Int Data Type
b= 2.2 # Float Data Type
c= "RAJAT" # String Data Type
d= 1+2j # Complex Data Type # Rarely Used

In [ ]:
print("Hi Welcome to Python Language")

Hi Welcome to Python Classes

In [ ]:
print("Hi Welcome to Java Language")

Hi Welcome to Java Language

In [ ]:
lang= "Python"
print("Hi, Welcome to the class of " + lang + " language" ) # allowed, but rarely used

Hi, Welcome to the class of Python language

In [ ]:
lang= "JavaScript"
print("Hi, Welcome to the class of " + lang + " language" ) # allowed, but rarely used

Hi, Welcome to the class of JavaScript language

In [ ]:
# f--> formatted String method
lang= "Python"
print(f"Hi, Welcome to the class of {lang} language" ) # Current standard approach used in python

Hi, Welcome to the class of Python language

In [ ]:
lang= "Python"
print("Hi, Welcome to the class of {} language".format(lang)) # old way

Hi, Welcome to the class of Python language

In [ ]:
lang= "Python"
print("Hi, Welcome to the class of {lang} language" )

Hi, Welcome to the class of {lang} language

In [ ]:
# f--> formatted String method
num= "first"
lang= "Python"
print(f"Hi,Today is the {num} class of {lang} language" ) # Current standard approach used in python

Hi,Today is the first class of Python language

In [ ]:
num= "first"
lang= "Python"
print("Hi,Today is the {} class of {} language".format(num,lang))

Hi,Today is the first class of Python language

In [ ]:
num= "first"
lang= "Python"
print("Hi,Today is the " +num+ " class of " +lang+ "language" )

Hi,Today is the first class of Pythonlanguage

In [ ]:
a= 22
b= 34
c= a+b
print(f"the result of two nums a: {a} and b: {b} is = {c}")

the result of two nums a: 22 and b: 34 is = 56

## Boolean Data Type

In [ ]:
one= True
two= False
print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [ ]:
class_starts_at = 1500
you_came_at = 1600
you_understood_all_concept = you_came_at < class_starts_at
print(f"You understood everything?: {you_understood_all_concept}")

You understood everything?: False

In [ ]:
class_starts_at = 3
you_came_at = 2
you_understood_all_concept = you_came_at < class_starts_at
print(f"You understood everything?: {you_understood_all_concept}")

You understood everything?: True

In [ ]:
class_starts_at = 3 # class starts at 3 pm
you_came_at = 4 # you came at 4 pm
you_understood_all_concept = you_came_at < class_starts_at
print(f"You understood everything?: {you_understood_all_concept}")

You understood everything?: False

In [ ]:
# = means assignment
# == means comparing equality
is_raining = False
umbralla_available = True
go_to_college = is_raining == umbralla_available 
go_to_college

False

In [ ]:
is_raining = False
umbralla_available = False
go_to_college = is_raining == umbralla_available 
go_to_college

True

In [ ]:
print("""my Name is "rajat" """)

'my Name is "rajat" '

In [ ]:
"My Name is \"RAJAT\" "

'My Name is "RAJAT" '