## 6.3.1 Lists

Earlier, while discussing introduction to strings we have introduced the concept of a *sequence* in Python. In Python, Lists can be considered as the most general version of a "sequence". Unlike strings, they are mutable which means the elements inside a list can be changed!

`Lists` are constructed with brackets `[]` and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types, different data-types. For example:

In [ ]:
my_list = ['A string',23,100.232,'o',True]

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [ ]:
len(my_list)

5



---

In [ ]:
A = [1,2,3,4,5]

A[0]

1

In [ ]:
A = [1,2,3,4,5.0, "Sunny", 1+2j, True] # 

type(A)

list

In [ ]:
for element in A:
  print(element)

1
2
3
4
5.0
Sunny
(1+2j)
True

In [ ]:
len(A)

8

In [ ]:
for i in range(len(A)):
  print(A[i])

1
2
3
4
5.0
Sunny
(1+2j)
True

In [ ]:
for i in range(len(A)):
  print(f"i={i}, value={A[i]}, datatype={type(A[i])}")

i=0, value=1, datatype=<class 'int'>
i=1, value=2, datatype=<class 'int'>
i=2, value=3, datatype=<class 'int'>
i=3, value=4, datatype=<class 'int'>
i=4, value=5.0, datatype=<class 'float'>
i=5, value=Sunny, datatype=<class 'str'>
i=6, value=(1+2j), datatype=<class 'complex'>
i=7, value=True, datatype=<class 'bool'>

What is the difference between list of python and array of C or C++?

Ans In array we will element use only one dataype
but in python list ,all elements can be of different or same dataype



---

### Indexing and Slicing

Indexing and slicing of lists works just like in Strings. Similar to string, list index starts at 0 and it can be sliced and concatenated and all operations. Let's make a new list to remind ourselves of how this works:

In [ ]:
my_list = ['one','two','three',4,5,True]

In [ ]:
# Grab element at index 0
my_list[0]

'one'

In [ ]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5, True]

In [ ]:
# Grab index 1 and everything past it
my_list[1:6]

['two', 'three', 4, 5, True]

In [ ]:
# Grab everything UP TO index (3-1)=2
my_list[:3]

['one', 'two', 'three']

In [ ]:
# Negative slicing
my_list[-6]

'one'

In [ ]:
# Negative slicing
my_list[-3]

4



---

In [ ]:
A

[1, 2, 3, 4, 5.0, 'Sunny', (1+2j), True]

In [ ]:
A[3:]

[4, 5.0, 'Sunny', (1+2j), True]

In [ ]:
A[0::2] # [start index: end index: STEP]

[1, 3, 5.0, (1+2j)]

In [ ]:
for i in range(0, 8, 2): # start, end, steps
  print(i, A[i])

0 1
2 3
4 5.0
6 (1+2j)

In [ ]:
A

[1, 2, 3, 4, 5.0, 'Sunny', (1+2j), True]

In [ ]:
A[::-1]

[True, (1+2j), 'Sunny', 5.0, 4, 3, 2, 1]

In [ ]:
A[::-2]

[True, 'Sunny', 4, 2]

In [ ]:
for i in range(0, len(A), 2):
  print(i, A[i])

0 1
2 3
4 5.0
6 (1+2j)

In [ ]:
for i in range(0, len(A)):
  print(i, A[i])

0 1
1 2
2 3
3 4
4 5.0
5 Sunny
6 (1+2j)
7 True

In [ ]:
for i in range(-1, -len(A) -1, -1):
  print(i, A[i])

-1 True
-2 (1+2j)
-3 Sunny
-4 5.0
-5 4
-6 3
-7 2
-8 1

In [ ]:
A[::2]

[1, 3, 5.0, (1+2j)]

In [ ]:
A[1::2]

[2, 4, 'Sunny', True]

In [ ]:
A

[1, 2, 3, 4, 5.0, 'Sunny', (1+2j), True]

In [ ]:
for i in [1,5,6,7]:
  print(i, A[i])

1 2
5 Sunny
6 (1+2j)
7 True



---

### Updating list element at specific index

In [ ]:
my_list[5] = 6
print("New value at index 5: ", my_list[5])

New value at index 5:  6

We can also use "+" to concatenate lists, just like we did for Strings.

In [ ]:
my_list + ['new item',5]

['one', 'two', 'three', 4, 5, 6, 'new item', 5]

>**Note:** This doesn't actually change the original list!

In [ ]:
my_list

['one', 'two', 'three', 4, 5, 6]

In [ ]:
# Reassign
my_list = my_list + ['add new item permanently']

In [ ]:
my_list

['one', 'two', 'three', 4, 5, 6, 'add new item permanently']



---

In [ ]:
A

[1, 2, 3, 4, 5.0, 'Sunny', (1+2j), True]

In [ ]:
A[4] = 999 # mutable operation allowed in list

In [ ]:
A

[1, 2, 3, 4, 999, 'Sunny', (1+2j), True]

In [ ]:
A[-2] = "iNeuron"

In [ ]:
A

[1, 2, 3, 4, 999, 'Sunny', 'iNeuron', True]

In [ ]:
B = [78, 90.22]

In [ ]:
A + B

[1, 2, 3, 4, 999, 'Sunny', 'iNeuron', True, 78, 90.22, 78, 90.22]

In [ ]:
A = A + B

In [ ]:
A

[1, 2, 3, 4, 999, 'Sunny', 'iNeuron', True, 78, 90.22, 78, 90.22]

In [ ]:
A - B

TypeError: ignored



---

### Repetition of list

We can also use the * for a duplication method similar to strings:

In [ ]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 6,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 6,
 'add new item permanently']

In [ ]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 6, 'add new item permanently']

In [ ]:
A * 2

[1,
 2,
 3,
 4,
 999,
 'Sunny',
 'iNeuron',
 True,
 78,
 90.22,
 78,
 90.22,
 1,
 2,
 3,
 4,
 999,
 'Sunny',
 'iNeuron',
 True,
 78,
 90.22,
 78,
 90.22]

In [ ]:
A/2

TypeError: ignored

In [ ]:
A*A

TypeError: ignored

In [ ]:
A + A

[1,
 2,
 3,
 4,
 999,
 'Sunny',
 'iNeuron',
 True,
 78,
 90.22,
 78,
 90.22,
 1,
 2,
 3,
 4,
 999,
 'Sunny',
 'iNeuron',
 True,
 78,
 90.22,
 78,
 90.22]

In [ ]:
A + A + A

[1,
 2,
 3,
 4,
 999,
 'Sunny',
 'iNeuron',
 True,
 78,
 90.22,
 78,
 90.22,
 1,
 2,
 3,
 4,
 999,
 'Sunny',
 'iNeuron',
 True,
 78,
 90.22,
 78,
 90.22,
 1,
 2,
 3,
 4,
 999,
 'Sunny',
 'iNeuron',
 True,
 78,
 90.22,
 78,
 90.22]

In [ ]:
A * (-1)

[]

In [ ]:
A * (-2)

[]

In [ ]:
A + 2 * A

[1,
 2,
 3,
 4,
 999,
 'Sunny',
 'iNeuron',
 True,
 78,
 90.22,
 78,
 90.22,
 1,
 2,
 3,
 4,
 999,
 'Sunny',
 'iNeuron',
 True,
 78,
 90.22,
 78,
 90.22,
 1,
 2,
 3,
 4,
 999,
 'Sunny',
 'iNeuron',
 True,
 78,
 90.22,
 78,
 90.22]

In [ ]:
A * 0

[]



---

### Basic List Methods

If you are familiar with another programming language, start to draw parallels between lists in Python and arrays in other language. There are two reasons which tells why the lists in Python are more flexible than arrays in other programming language:

**a.** They have no fixed size (which means we need not to specify how big the list will be)

**b.** They have no fixed type constraint 

Let's go ahead and explore some more special methods for lists:

### len()

length of a list can be calculated using in built `len()`

In [ ]:
l = [45,6,7,5,"ineuron",True,False,35,62.56]
len(l)

9

In [ ]:
len(A)

12

In [ ]:
len(l)

9

In [ ]:
my_list = [] # NOT RECOMMEDED

len(my_list)

0

In [ ]:
my_list = list() # RECOMMEDED

len(my_list)

0

In [ ]:
list_of_item_to_purchase = list() # empty list

N = int(input("No of item you want to purchase: "))
for i in range(N):
  user_input = input("Enter the item that you want to purchase: ")
  list_of_item_to_purchase = list_of_item_to_purchase + [user_input]

print(list_of_item_to_purchase)

No of item you want to purchase: 3
Enter the item that you want to purchase: pen
Enter the item that you want to purchase: paper
Enter the item that you want to purchase: plane
['pen', 'paper', 'plane']

In [ ]:
list_of_item_to_purchase = list() # empty list

N = int(input("No of item you want to purchase: "))
i = 0
while i < N:
  user_input = input("Enter the item that you want to purchase: ")
  list_of_item_to_purchase = list_of_item_to_purchase + [user_input]
  i = i + 1
  
print(list_of_item_to_purchase)

No of item you want to purchase: 3
Enter the item that you want to purchase: pen
Enter the item that you want to purchase: paper
Enter the item that you want to purchase: plane
['pen', 'paper', 'plane']

In [ ]:
[1,2] + [34]

[1, 2, 34]

In [ ]:
list_of_item_to_purchase = list() # empty list

N = int(input("No of item you want to purchase: "))
i = 0
while i < N:
  user_input = input("Enter the item that you want to purchase: ")
  list_of_item_to_purchase = list_of_item_to_purchase + [user_input]
  i = i + 1
  print(f"current i: {i}=> Current list: {list_of_item_to_purchase}")

  
print(list_of_item_to_purchase)

No of item you want to purchase: 3
Enter the item that you want to purchase: pen
current i: 1=> Current list: ['pen']
Enter the item that you want to purchase: paper
current i: 2=> Current list: ['pen', 'paper']
Enter the item that you want to purchase: plane
current i: 3=> Current list: ['pen', 'paper', 'plane']
['pen', 'paper', 'plane']

In [ ]:
len(list_of_item_to_purchase)

3

### Check membership in a list

In [ ]:
# check if 5 exists in list l
5 in l

True

In [ ]:
"Phone cover" in list_of_item_to_purchase

False

In [ ]:
"pen" in list_of_item_to_purchase

True

In [ ]:
"Pen" in list_of_item_to_purchase # Case sensitive

False

In [ ]:
if "Phone cover" in list_of_item_to_purchase:
  print("YES")
else:
  print("NO, adding into the list")
  list_of_item_to_purchase = list_of_item_to_purchase + ["Phone cover"]

NO, adding into the list

In [ ]:
list_of_item_to_purchase

['pen', 'paper', 'plane', 'Phone cover']

In [ ]:
if "Phone cover" in list_of_item_to_purchase:
  print("YES")
else:
  print("NO, adding into the list")
  list_of_item_to_purchase = list_of_item_to_purchase + ["Phone cover"]

YES

In [ ]:
if "Milk" not in list_of_item_to_purchase:
  print("NO, adding into the list")
  list_of_item_to_purchase = list_of_item_to_purchase + ["Milk"]
list_of_item_to_purchase

NO, adding into the list

['pen', 'paper', 'plane', 'Phone cover', 'Milk']

In [ ]:
new_item = input("Any thing else to add:")

if new_item not in list_of_item_to_purchase:
  print("NO, adding into the list")
  list_of_item_to_purchase = list_of_item_to_purchase + [new_item]
list_of_item_to_purchase

Any thing else to add:powder
NO, adding into the list

['pen', 'paper', 'plane', 'Phone cover', 'Milk', 'powder']

In [ ]:
len(list_of_item_to_purchase)

6

### max()

We can find max value from a given list

In [ ]:
list1 = ["iNeuron","Datascience","Big-data","Analytics"]
list2 = [5,6,2,9,7,5,0]
print(max(list1))
print(max(list2))

iNeuron
9

In [ ]:
example = [1,45,999,10]

max(example)

999

In [ ]:
string_example = ["b", "a", "d", "c"]

max(string_example)

'd'

Refer asciicode: http://sticksandstones.kstrom.com/appen.html

In [ ]:
string_example = ["b", "a", "d", "c", "D"]

max(string_example)

'd'

In [ ]:
string_example = ["bhaveen", "abhishek", "dew", "chalie", "Doctor"]

max(string_example)

'dew'

In [ ]:
string_example = ["bhaveen", "abhishek", "dew", "dj", "chalie", "Doctor"]

max(string_example)

'dj'

In [ ]:
string_example = ["bhaveen", "abhishek", "dew", "dj", "chalie", "Doctor"]

min(string_example)

'Doctor'

In [ ]:
string_example = ["bhaveen", "abhishek", "dew", "dj", "chalie"]

min(string_example)

'abhishek'

In [ ]:
# print the name with highest no of character -

max_len = 0
result = ""
for example in string_example:
  print(example, len(example))
  if len(example) > max_len:
    max_len = len(example)
    result = example

print(f"RESULT: max_len: {max_len} name: {result}")

bhaveen 7
abhishek 8
dew 3
dj 2
chalie 6
RESULT: max_len: 8 name: abhishek

In [ ]:
string_example = ["b", "a", "d", "c", "D", 1, 2]

max(string_example)

TypeError: ignored

In [ ]:
example = [1, 2, 99.0]

max(example)

99.0

In [ ]:
example = [1, 2, 99.0, 1000, -500]

max(example)

1000

In [ ]:
example = [1, 2, 99.0, 1000, -500]

min(example)

-500

In [ ]:
example = [1, 2, 99.0, 1+5j]

max(example)

TypeError: ignored

In [ ]:
example = [1, 2, 99.0, 1000, -500, 200*20]

max(example)

4000

In [ ]:
# In python 3, you can't find max with different data-types in a list
print(max([1,2,"ineuron"]))

TypeError: ignored

### min()

We can find min value from a given list

In [ ]:
list1 = ["iNeuron","Datascience","Big-data","Analytics"]
list2 = [5,6,2,9,7,5,0]
print(min(list1))
print(min(list2))

Analytics
0

In [ ]:
# In python 3, you can't find min with different data-types in a list
print(min([1,2,"ineuron"]))

TypeError: ignored

There is another `list()` method which will helpful to convert tuple into list, which we will look when we will talk about tuple section. Just giving a brief idea, tuple is similar to list but tuple are unmutable means we can't change value of elements and they can define using () bracket. We will look into this in future topics.

### Append()

In [ ]:
# Create a new list
l = [1,2,3]

Use the **append** method to permanently add an item to the end of a list:

In [ ]:
# Append
l.append('append me!')

In [ ]:
# Show
l

[1, 2, 3, 'append me!']

In [ ]:
A = [1,2,77]

A = A + ["new element"]

A

[1, 2, 77, 'new element']

In [ ]:
A = [1,2,77]

A.append("new_element")

A

[1, 2, 77, 'new_element']

In [ ]:
A.append("ROMA")

A

[1, 2, 77, 'new_element', 'ROMA']

In [ ]:
A.append("Sanjay", "John")

A

TypeError: ignored

In [ ]:
A.append(["Sanjay", "John"])

A

[1, 2, 77, 'new_element', 'ROMA', ['Sanjay', 'John']]

In [ ]:
A.append(["Sanjay", "John"])

A

[1, 2, 77, 'new_element', 'ROMA', ['Sanjay', 'John'], ['Sanjay', 'John']]

In [ ]:
A = A+["Sanjay", "John"]

A

[1,
 2,
 77,
 'new_element',
 'ROMA',
 ['Sanjay', 'John'],
 ['Sanjay', 'John'],
 'Sanjay',
 'John']

In [ ]:
list_of_item_to_purchase = list() # empty list

N = int(input("No of item you want to purchase: "))
for i in range(N):
  user_input = input("Enter the item that you want to purchase: ")
  list_of_item_to_purchase.append(user_input) # RECOMMENDED

print(list_of_item_to_purchase)

No of item you want to purchase: 3
Enter the item that you want to purchase: pen
Enter the item that you want to purchase: pencil
Enter the item that you want to purchase: plane
['pen', 'pencil', 'plane']

### pop()

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [ ]:
A = [6,4,5,7, "Sunny"]

A.pop()

A

[6, 4, 5, 7]

In [ ]:
A = [6,4,5,7, "Sunny"]

A.pop(0)

A

[4, 5, 7, 'Sunny']

In [ ]:
A = [6,4,5,7, "Sunny"]

A.pop(2)

A

[6, 4, 7, 'Sunny']

In [ ]:
# Pop off the 0 indexed item
A.pop(0)

6

In [ ]:
A

[4, 7, 'Sunny']

In [ ]:
removed_item = A.pop(2)

removed_item

'Sunny'

In [ ]:
A

[4, 7]

In [ ]:
# print odd nos

A = [1, 34, 56, 76, 99]

for idx in range(len(A)):
  num = A[idx]
  print(idx, num)
  if num%2 != 0: # odd condition # % gives remainder value
    print(f"odd num: {num}")
  else:
    print(f"even num: {num}")

0 1
odd num: 1
1 34
even num: 34
2 56
even num: 56
3 76
even num: 76
4 99
odd num: 99

In [ ]:
# Show
l

[1, 2, 3, 'append me!']

In [ ]:
# Assign the popped element, remember default popped index is -1
popped_item = l.pop()

In [ ]:
popped_item

'append me!'

In [ ]:
# Show remaining list
l

[1, 2, 3]

In [ ]:
# Show remaining list
l

[1, 2, 3]

>**Note:-** lists indexing will return an error if there is no element at that index. For example:

In [ ]:
A

[1, 34, 56, 76, 99]

In [ ]:
A[1000]

IndexError: ignored

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [ ]:
A = [1,45, 67, 98, -34]

sorted(A)

[-34, 1, 45, 67, 98]

In [ ]:
A

[1, 45, 67, 98, -34]

In [ ]:
A = sorted(A)
A

[-34, 1, 45, 67, 98]

In [ ]:
A[::-1]

[98, 67, 45, 1, -34]

In [ ]:
A = [1,45, 67, 98, -34]

A.sort() # permanent change

In [ ]:
A

[-34, 1, 45, 67, 98]

In [ ]:
A[::-1]

[98, 67, 45, 1, -34]

In [ ]:
A = [1,45, 67, 98, -34]

A.sort(reverse=True) # directly get answer in descending order

A

[98, 67, 45, 1, -34]

In [ ]:
A

[98, 67, 45, 1, -34]

In [ ]:
A.reverse() # inplace solution

In [ ]:
A

[-34, 1, 45, 67, 98]

In [ ]:
A = [1, 23, 45, "SUnny", "iNeuron"]

A = A[::-1]
A

['iNeuron', 'SUnny', 45, 23, 1]

In [ ]:
A = [1, 23, 45, "SUnny", "iNeuron"]

A.reverse()

A

['iNeuron', 'SUnny', 45, 23, 1]

In [ ]:
new_list = ['a','e','x','b','c']

In [ ]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [ ]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [ ]:
new_list

['c', 'b', 'x', 'e', 'a']



--- Till Here

In [ ]:
# Pop off the 0 indexed item
l.pop()

'append me!'

In [ ]:
# Pop off the 0 indexed item
l.pop(0)

45

In [ ]:
# Show
l

[6, 7, 5, 'ineuron', True, False, 35, 62.56]

In [ ]:
# Assign the popped element, remember default popped index is -1
popped_item = l.pop()

In [ ]:
popped_item

62.56

In [ ]:
# Show remaining list
l

[6, 7, 5, 'ineuron', True, False, 35]

>**Note:-** lists indexing will return an error if there is no element at that index. For example:

In [ ]:
l[100]

IndexError: ignored

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [ ]:
new_list = ['a','e','x','b','c']

In [ ]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [ ]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [ ]:
new_list

['c', 'b', 'x', 'e', 'a']

In [ ]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [ ]:
new_list

['a', 'b', 'c', 'e', 'x']

## 6.3.2 Nesting Lists

Nesting Lists is one of the great features in Python data structures. Nesting Lists means we can have data structures within data structures. 

For example: A list inside a list.

Let's see how Nesting lists works!

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [ ]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#[    0          1          2    ]
#[ 0  1  2    0  1  2    0  1  2 ]
#[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

matrix[2][1]

8

We can re-use indexing to grab elements, but now there are two levels for the index. 

**a.** The items in the matrix object

**b.** The items inside the list

In [ ]:
# Grab first item in matrix object

#[    0          1          2    ]
#[ 0  1  2    0  1  2    0  1  2 ]
#[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix[0]

[1, 2, 3]

In [ ]:
# Grab first item of the first item in the matrix object

#[    0          1          2    ]
#[ 0  1  2    0  1  2    0  1  2 ]
#[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix[0][0]

1

## 6.3.3 ist Comprehensions

Python has an advanced feature called list comprehensions which allows for quick construction of lists. 


Here are few of our examples which helps you to understand list comprehensions.

In [ ]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [ ]:
first_col

[1, 4, 7]

In [ ]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# We can use normal for loop for the above thing and seperate every element in a single list
whole_element = []
for row in matrix:
    for l in row:
        whole_element.append(l)
        
whole_element

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 6.3.4 Advanced Lists

In this series of lectures, we will be diving a little deeper into all the available methods in a list object. These are just methods that should encountered without some additional exploring. Its pretty likely that you've already encountered some of these yourself!

Lets begin!

In [ ]:
l = [1,2,3]

### append

Definitely, You have used this method by now, which merely appends an element to the end of a list:

In [ ]:
l.append(4)

l

[1, 2, 3, '45', 4]

### count
We discussed this during the methods lectures, but here it is again. `count()` takes in an element and returns the number of times it occures in your list:

In [ ]:
l.count(10)

0

In [ ]:
l.count(2)

1

### extend
Many times people find the difference between extend and append to be unclear. So note that,

**append: Appends object at end**

In [ ]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

**extend: extends list by appending elements from the iterable. It will append content of list elements to the existing list**

In [ ]:
x = [1, 2, 3]
x.extend('ty')
print(x)

[1, 2, 3, 't', 'y']

In [ ]:
l1 = ["ineuron","DS","AI"]
l2 = list(range(5))
print("extended list")
l1.extend(l2)
l1

extended list

['ineuron', 'DS', 'AI', 0, 1, 2, 3, 4]

>**Note:-** how extend append each element in that iterable. That is the key difference.

### index

`index` returns the lowest index of element placed as an argument. Make a note that if the element is not in the list then it returns an error.

### insert 

Two arguments can be placed in insert method. 

Syntax: insert(index,object) 

This method places the object at the index supplied. For example:

### pop
You most likely have already seen `pop()`, which allows us to "pop" off the last element of a list.

### remove

The `remove()` method removes the first occurrence of a value. For example:

In [ ]:
l

[1, 2, 3, '45']

In [ ]:
l.remove(4)

In [ ]:
l = [1,2,3,4,3]

In [ ]:
# If we have same element coming multiple times, it will remove first occuring element only
l.remove(3)

In [ ]:
l

NameError: ignored

### reverse

As the name suggests, `reverse()` helps you to reverse a list. Note this occurs in place! Meaning it effects your list permanently.

In [ ]:
l.reverse()

In [ ]:
l

[3, 4, 2, 1]

### sort

`sort` will sort your list in place:

In [ ]:
l

[3, 4, 2, 1]

In [ ]:
l.sort()

In [ ]:
l

[1, 2, 3, 4]

In [ ]:
l = [0,1,2,"abc","DS","ineuron"]

In [ ]:
# Sorting can be done using same types of data in a list
l.sort()

TypeError: ignored

### Iterating through a string by using list Comprehension

In [ ]:
# Without using list comprehension
letter = []
for ch in 'iNeuron':
    letter.append(ch)
letter

['i', 'N', 'e', 'u', 'r', 'o', 'n']

In [ ]:
# With using list comprehension
letter = [ ch for ch in 'iNeuron' ]
print(letter)

['i', 'N', 'e', 'u', 'r', 'o', 'n']

Use of conditional statements using list comprehension

In [ ]:
#Without list comprehension
l=[]
for i in range(20):
    if i%2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# With list comprehension
number = [ i for i in range(20) if i % 2 == 0]
print(number)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
l = []
for i in range(20):
    if i%2 != 0:
        l.append("Odd")
    else:
        l.append("Even")
l

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']

In [ ]:
# if else in list comprehension
odd_even = ["Odd" if i%2!=0 else "Even" for i in range(20)]
odd_even

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']

In [ ]:
# Nested for loop without list comprehention
matrix = []
for i in range(3):
    matrix.append([])
    for j in range(3):
        matrix[i].append(j)

matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
# Nested for loop with list comprehention
matrix_with_List_Comp = [[j for j in range(3)] for i in range(3)]
matrix_with_List_Comp

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
# Nested conditions
[i for i in range(8) if i%2==0 if i%3==0]

[0, 6]

In [ ]:
l = []
for i in range(8):
    if i%2 ==0:
        if i%3 == 0:
            l.append(i)
l

[0, 6]

In [ ]:
# For if elif else
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
['yes' if i == 1 else 'no' if i == 2 else 'idle' for i in l]

['yes', 'no', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle']

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
res = []
for i in l:
    if i == 1:
        res.append("yes")
    elif i == 2:
        res.append("no")
    else:
        res.append("idle")
        
res

['yes', 'no', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle']



---

extrass



---

In [ ]:
l= []

In [ ]:
l.append("1")

In [ ]:
l

['1']

In [ ]:
l.append("2")

In [ ]:
l

['1', '2']



---